<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Update</title>
      <link rel="stylesheet" href="{{url_for ('static', filename = 'css/style.css')}}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div style="background-image: url('static/images/about.png');"></div>
      <div class="wrapper">
         <div class="title-text">
            <div class="title update">
               Tanaw Update
               <img src="{{url_for ('static', filename = 'images/logo.png')}}" width="150" height="80" class="center">
            </div>
         </div>
         <div class="form-container">
            <div class="form-inner">
               <form action="/update" method="POST" class="update">
                  <div class="field">
                     <input type="text" name="username" placeholder="Username" required>
                  </div>
                  <div class="field">
                     <input type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Update">
                  </div>
               </form>
            </div>
         </div>
      </div>

      <script>
         const updateText = document.querySelector(".title-text .update");
         const updateForm = document.querySelector("form.update");
         const updateBtn = document.querySelector("label.update");
         updateBtn.onclick = (()=>{
            updateForm.style.marginLeft = "0%";
            updateText.style.marginLeft = "0%";
         });
      </script>
   </body>
</html>